<h3 class="ng-binding" ng-show="github.showRepos" >Please connect to github first !</h3>

<md-list role="list" ng-hide="github.showRepos" ng-required="true">
  <h3 class="ng-binding">Select your repository : </h3>

  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}">
    <mdt-header-row>
      <mdt-column align-rule="left">Repository</mdt-column>
      <mdt-column align-rule="left">Open issues</mdt-column>
      <mdt-column align-rule="right">Select</mdt-column>
    </mdt-header-row>

    <mdt-row ng-repeat="repo in github.reposUser">

      <mdt-cell html-content="true">
         <a href="{{repo.html_url}}" target="_blank">{{ repo.name }}</a>
      </mdt-cell>

      <mdt-cell> {{ repo.open_issues_count }} </mdt-cell>

      <mdt-cell html-content="true">
          <md-input-container>
              <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="github.selectRepo(repo.full_name)">Select this repo</button>
          </md-input-container>
      </mdt-cell>

    </mdt-row>
  </mdt-table>

  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="github.getRepo(true)">Refresh</button>

</md-list>
