<h3 class="ng-binding" ng-hide="assignations.showPage" >Please select a repo <a href="/github">here</a>.</h3>


<div ng-show="assignations.showPage">

  <h3 class="ng-binding" ng-show="assignations.showPage" >{{ assignations.reposelected }}</h3>
  <h5>Pull Requests to assign : </h5>
  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="assignations.autoAssign()">Auto Pre-Select</button>
  <p>"Auto Pre-Select" will preselect people in relation with the type of pull request</p>
  <md-card>
    <md-table-container>
      <table md-table md-progress="promise">
        <thead md-head>
          <tr md-row>
            <th md-column>Name</th>
            <th md-column>Assignation</th>
            <th md-column>Assign</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="pullRq in assignations.pullRqsToAssign
              | orderBy: assignations.query1.order
              | limitTo: assignations.query1.limit : (assignations.query1.page -1) * assignations.query1.limit">
            <td md-cell><a ng-href="{{pullRq.html_url}}" target="_blank">{{pullRq.title}}</a></td>
            <td md-cell>
              <md-select ng-model="pullRq.assigned" placeholder="Integrator">
                <md-option ng-value="opt.login" ng-repeat="opt in assignations.integrateurs">
                  {{ opt.login }} - {{ opt.typeIntegrateur }} - Currently : ({{opt.numberAssign}})
                </md-option>
              </md-select>
            </td>
            <td md-cell>
                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="assignations.addAssignement(pullRq.assigned, pullRq.number, pullRq)">Assign</button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="assignations.query1.limit" md-page="assignations.query1.page" md-total="{{assignations.pullRqsToAssign.length}}" md-page-select="false"></md-table-pagination>
  </md-card>

  <h5>Pull Requests already assigned : </h5>
  <md-card>
    <md-table-container>
      <table md-table md-progress="promise">
        <thead md-head>
          <tr md-row>
            <th md-column>Name</th>
            <th md-column>Assigned</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="pullRq in assignations.pullRqsAssigned
              | orderBy: assignations.query2.order
              | limitTo: assignations.query2.limit : (assignations.query2.page -1) * assignations.query2.limit">
            <td md-cell><a ng-href="{{pullRq.html_url}}" target="_blank">{{pullRq.title}}</a></td>
            <td md-cell>
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="assignee in pullRq.assignees">
                  <a ng-href="{{assignee.html_url}}" target="_blank">{{assignee.login}}</a>
                  <a><button class="badge" type="button" ng-click="assignations.removeAssignement(assignee.login, pullRq.number, pullRq, assignee)">x</button></a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="assignations.query2.limit" md-page="assignations.query2.page" md-total="{{assignations.pullRqsAssigned.length}}" md-page-select="false"></md-table-pagination>
  </md-card>

</div>
