<h3 class="ng-binding" ng-hide="assignations.showPage" >Please select a repo <a href="/github">here</a>.</h3>


<div ng-show="assignations.showPage">
  <h3 class="ng-binding" ng-show="assignations.showPage" >{{ assignations.reposelected }}</h3>
  <h5>Pull Requests to assign : </h5>
  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="assignations.autoAssign()">Auto Assign</button>
  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
    <mdt-header-row>
      <mdt-column align-rule="left">Nom</mdt-column>
      <mdt-column align-rule="left">Assignation</mdt-column>
      <mdt-column align-rule="left"></mdt-column>
    </mdt-header-row>
    <mdt-row ng-repeat="pullRq in assignations.pullRqsToAssign">


      <mdt-cell html-content="true"><a ng-href="{{pullRq.html_url}}" target="_blank">{{pullRq.title}}</a></mdt-cell>
      <mdt-cell html-content="true">
          <md-select ng-model="pullRq.assigned" placeholder="Integrator">
            <md-option ng-value="opt" ng-repeat="opt in assignations.integrateurs">
              {{ opt.login }} - {{ opt.typeIntegrateur }}
            </md-option>
          </md-select>
      </mdt-cell>


      <mdt-cell html-content="true">
          <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="">Assign</button>
      </mdt-cell>

    </mdt-row>
  </mdt-table>
</div>

<div ng-show="assignations.showPage">
  <h5>Pull Requests already assigned:</h5>
  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
    <mdt-header-row>
      <mdt-column align-rule="left">Nom</mdt-column>
      <mdt-column align-rule="left">Assignés</mdt-column>
    </mdt-header-row>
    <mdt-row ng-repeat="pullRq in assignations.pullRqsAssigned">


      <mdt-cell html-content="true"><a ng-href="{{pullRq.html_url}}" target="_blank">{{pullRq.title}}</a></mdt-cell>
      <mdt-cell html-content="true">

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="assignee in pullRq.assignees">
              <a ng-href="{{assignee.html_url}}" target="_blank">{{assignee.login}}</a>
              <a><button class="badge" type="button" ng-click="assignations.removeAssignement()">x</button></a>
            </li>
          </ul>
      </mdt-cell>
    </mdt-row>
  </mdt-table>
</div>
