<h3 class="ng-binding" ng-hide="integrateurs.showPage" >Please select a repo <a href="/github">here</a>.</h3>

<div ng-show="integrateurs.showPage">
  <h3 class="ng-binding">{{ integrateurs.reposelected }}</h3>

  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
    <mdt-header-row>
      <mdt-column align-rule="left">Avatar</mdt-column>
      <mdt-column align-rule="left" sortable-columns=t>Login</mdt-column>
      <mdt-column align-rule="left">Number of PR assigned</mdt-column>
      <mdt-column align-rule="left">Type</mdt-column>
      <mdt-column align-rule="left">Note</mdt-column>
    </mdt-header-row>
    <mdt-row ng-repeat="integra in integrateurs.integrateurs">

      <mdt-cell html-content="true">
          <div class="crop">
              <img ng-src="{{integra.avatar_url}}" alt="Avatar de {{integra.login}}" style="width:50px;height:50px;"/>
          </div>
      </mdt-cell>

      <mdt-cell>{{integra.login}}</mdt-cell>

      <mdt-cell>{{integra.numberPr}}</mdt-cell>

      <mdt-cell html-content="true">
        <md-select ng-model="integra.type" placeholder="Select a type">
          <md-option ng-value="opt" ng-repeat="opt in integrateurs.types">{{ opt }}</md-option>
        </md-select>
      </mdt-cell>

      <mdt-cell html-content="true">
          <md-input-container>
            <textarea ng-model="integra.note"> </textarea>
          </md-input-container>
      </mdt-cell>

    </mdt-row>
  </mdt-table>

  <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="integrateurs.updateIntegrateurs()">Update Team !</button>



</div>
